/*on the x axis when it cannot fit in the contianer it will hide it self
and shift the content in body
*/
.menu {
	overflow-x:hidden;
	position: relative;
	left:0;
}

.menu-open{
	left:261px;
}
a {
    font-size: 150%;
}
/* show to sidebar */
.menu-open .menu-side {
	left:0;
	height: 100%;
}

@-webkit-keyframes anim {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@keyframes anim {
    from {transform: rotateY(360deg);}
    to {transform: rotateY(0deg);}
}

/* Transistion */
.menu-side, .menu {
	 -webkit-transition : left 0.6s ease;
	 -moz-transition : left 0.6s ease;
	 transition : left 0.6s ease;
}


/*This is the navigation bar it self telling it to be on the left*/
.menu-side {
	background-color: #333;
	border-right: 1px solid #000;
	color:#00796B;
	position: fixed;
	top:0;
	left: -261px;
	height: 100%;
	width: 261px;
	padding:10px;
}
#LogoForNavBar
{
	margin-left: auto;
	margin-right: auto;
	background-image: url(../res/SmallLogo.png);
	background-repeat: no-repeat;
	width: 130px;
	height: 112px;
	margin-top: 35px;
	-webkit-animation: anim 8s infinite linear;
		animation: anim 8s infinite linear;
}

.centerFirstNavBar{
	text-align:center;
	padding-top: 30px;
}
.IconHori{
	display:inline-block;
	padding:5px;
}
ul {
	list-style-type: none;
	padding-left: 20px;
	margin-left: auto;

}

#icon
{
	margin-left: auto;
	margin-right: auto;
	padding:5px;
	display:inline-block;
}
li {
	font-family: 'Arial', serif;
	background-size: 80px 60px;
	color : #FFFFFF;
}



.menu-toggle{
	  background:none;
	  top:0;
	  right:0;
	  line-height:45px;
	  padding:0px 15px 0px 15px;
	  color:#fff;
	  border:0;
	  font-size:1.4em;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index:10000000000000;
}
