<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/master.css">
    <title>William Pring</title>
    <link rel="icon" type="image/gif/png" href="./res/SmallLogo.png">    
    <meta charset="utf-8"/>
    <head>

        <body class="loaded">
            <header id="first">
                <div class="header-content">
                    <div class="inner">
                        <h1>William Pring</h1>
                        <h5 class="contact">wp@williampring.com</h5>
                        <div class="additional-info">
                            <a href="https://github.com/WilliamPring" class="fa fa-github-square fa-3x"></a>
                            <a href="https://ca.linkedin.com/in/william-pring-6a273aa1" class="fa fa-linkedin fa-3x"></a>
                            <a href="resume/resume.html" class="fa fa-paperclip fa-3x"></a>
                            <a href="mailto:wp@williampring.com" class="fa fa-envelope-o fa-3x"></a>
                            <a href="http://blog.williampring.com" class="fa fa-rss fa-3x"></a>                            
                        </div>
                    </div>
                </div>
                <div>
                    <div class="scroll-down">
                        <a class="page-scroll" onclick="" aria-hidden="true">
                            <i class="fa fa-angle-down fa-2x"></i>
                        </a>
                    </div>
                </div>
            </header>
            <section id="one">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="AboutMe"><strong>About Me</strong></h2>
                            <p class="lead">
                                My name is William Pring, a current second year software engineering student studing at Conestoga College Institute of Technology
                                and Advanced Learning. I am doing my internship at Manulife as a Application/Webservices
                                Developer and working part-time at MyProHero as a Fullstack Developer.
                            </p>
                            <p class="lead">
                                I enjoy learning and keeping to date with new technology. I believe exposing myself to different technology allows me to
                                broader perspective on how I view programming.
                            </p>
                            <p class="lead">
                                I’m open to exciting new job opportunities, with my Curriculum Vitae available on request. Please get in touch, it would
                                be great to hear from you.
                            </p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="CollectionOfSkills">
                                <div>
                                    <img class="MoveUp" src="res/badge-code.png"></img>
                                    <p class="ContentForSkills">Software Development</p>
                                </div>
                                <div>
                                    <img class="MoveUp" src="res/badge-web.png"></img>
                                    <p class="ContentForSkills">Web Development</p>
                                </div>
                                <div>
                                    <img class="MoveUp" src="res/badge-android.png"></img>
                                    <p class="ContentForSkills">Andriod Development</p>
                                </div>
                                <div>
                                    <img class="MoveUp" src="res/badge-design.png"></img>
                                    <p class="ContentForSkills">Design Patterns</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 col-sm-12">
                            <h2 class="subcategory">Education</h2><img class="primary-education-text float-right" src="https://media.licdn.com/media/p/3/000/070/0fe/2cd5337.png"
                                alt="">
                            <h2 class="primary-education-text">Conestoga College Institute of Technology and Advanced Learning</h2>
                            <p class="sub-education-text">Software Engineer Technology Diploma, Computer Software Technology/Technician
                                <br>3.64 GPA, 2014 - Present</p>
                            <p class="description">Description
                                <p>As a full time student at Conestoga College, I was balancing school life, my side projects,
                                    and a part-time job working at Conestoga IT department. I gained a lot of valuable skills
                                    about time management and leadership. During all of this I was able to particate in many
                                    Hackathon and programing competition. I was able to get an oppertunity to start up a
                                    company with my friends called "Focal Point Education". We were given this wonderful
                                    oppertuinites as we won the Conestoga Centre for Entrepreneurship (Scroll down to Profolio
                                    and take a look at "Point" for further information)</p>
                            </p>
                            <p class="activites">Activities and Societies
                                <p>Hackathon, Coding Competitions, Conestoga Entrepreneurship Program, IEEE and Conestoga IT
                                    Services
                                </p>
                            </p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h2 class="subcategory">Honors &amp; Awards</h2><img class="primary-education-text float-right" src="https://media.licdn.com/media/p/3/000/070/0fe/2cd5337.png"
                                alt="">
                            <h2 class="primary-education-text">1st place Conestoga 2016 4 x 4 challenge</h2>
                            <p class="sub-education-text">Conestoga College, February 2016</p>
                            <p>4x4 Challenge, students are invited to build their engineering and information technology skills
                                by competing to find solutions to real-world industry challenges. Working in teams of four,
                                students will have four days to design and implement a minimum of four viable solutions to
                                problems found in an engineering or information technology-based industry. The theme for
                                2016's 4x4 Challenge is Solutions for Education.
                            </p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h2 class="primary-education-text">Conestoga Centre for Entrepreneurship – New Venture Opportunity Prize</h2>
                            <p class="sub-education-text">Conestoga College, February 2016</p>
                            <p>A package of services for best business opportunity / spin off from 4 x 4 Challenge 2016. </p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <img class="primary-education-text float-right" src="./res/communitechlogo.png" alt="">
                            <h2 class="primary-education-text">Code To Win final Competition</h2>
                            <p class="sub-education-text">Communitech, May 2015</p>
                            <p>One of the two representive for Conestoga in the Code To Win finals. </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="AboutMe"><strong>Profolio</strong></h2>
                            <p class="lead">
                                This is a showcase of projects that I have worked on in the past. All of the project is ordered by most recent. Each project
                                will take you to the site, repository (if possible), and give a more in dept information
                                about designing and building.
                            </p>
                        </div>
                        <div class="col">
                            <div class="custom-card card-5">
                                <div class="media-area">
                                    <img src="res/MyProHero.png">
                                </div>
                                <div class="card-content">
                                    <p class="primary-text">MyProHero (WordPress)</p>
                                    <p class="sub-text">An E-Learning Sport Website</p>
                                    <p class="support-text">
                                        MyProHero is a site that allows different athletes around the world to connect with world class coaches
                                    </p>
                                    <div class="action-bar">
                                        <button class="card-button" onclick="window.location.href='http://www.myprohero.com'">SITE</button>
                                        <button class="card-button">LEARN MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-card card-5">
                                <div class="media-area">
                                    <img src="res/MyProHero(APP).png">
                                </div>
                                <div class="card-content">
                                    <p class="primary-text">MyProHero (Web App)</p>
                                    <p class="sub-text">An Web app to manage your Contacts</p>
                                    <p class="support-text">
                                        A web app that allows you to search and schedule sessions with coaches and manages the sessions with Google hangouts
                                    </p>
                                    <div class="action-bar">
                                        <button class="card-button" onclick="window.location.href='app.myprohero.com'">SITE</button>
                                        <button class="card-button">LEARN MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-card card-5">
                                <div class="media-area">
                                    <img src="res/Point.gif">
                                </div>
                                <div class="card-content">
                                    <p class="primary-text">Point</p>
                                    <p class="sub-text">An alternative tool to the I-Clicker</p>
                                    <p class="support-text">
                                        Point is an free alternative tool to the I-Clicker with additional features to enhance the classroom experience.
                                    </p>
                                    <div class="action-bar">
                                        <button class="card-button" onclick="window.location.href='https://github.com/WilliamPring/4x4-Education-Nexus'">GITHUB</button>
                                        <button class="card-button">LEARN MORE</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <div class="custom-card card-5">
                                <div class="media-area">
                                    <img src="res/contact.ico">
                                </div>
                                <div class="card-content">
                                    <p class="primary-text">Contact</p>
                                    <p class="sub-text">An Web app to manage your Contacts</p>
                                    <p class="support-text">A MEAN stack application where you can manage your Contacts(Add, Modiy, Delete) and send
                                        emails to the contacts.
                                    </p>
                                    <div class="action-bar">
                                        <button class="card-button" onclick="window.location.href='https://github.com/WilliamPring/Contact'">GITHUB</button>
                                        <button class="card-button">LEARN MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="three" ng-app="testApp" ng-controller="testController">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="AboutMe"><strong>My Blog</strong></h2>
                        </div>
                        <div ng-repeat="blog in blogs.items">
                            <div class="col">
                                <h3><a href="{{blog.link}}" class ="blog-title">  {{blog.title}} </a></h3>
                                <span>{{blog.pubDate}} | Category: {{blog.category}}</span>
                                <p style="margin-bottom: 0px;">{{blog.description}}</p>
                                <a href="{{blog.link}}">Read more</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-md-auto">
                            <div class="button raised green" ng-click="onRedirect()">
                                <div class="center" fit="">More Blog Post</div>
                                <paper-ripple fit=""></paper-ripple>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="four">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="contact-card card-5">
                                <div class="contact-card-header">
                                    <h2>Contact Me</h2>
                                    <h6>Feel free to reach out with any queries you might have!
                                        <h6>
                                </div>
                                <form id="contact-form" method="post" action="contact.php" role="form">

                                    <div class="controls">

                                        <div class="row justify-content-md-center justify-content-sm-center form-row">
                                            <div class="col-4">
                                                <label for="form_name">First Name</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="First Name" required="required" data-error="First Name is required.">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <label for="form_lastname">Last Name</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                                                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Last Name" required="required" data-error="Last Name is required.">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row justify-content-md-center justify-content-sm-center form-row">
                                            <div class="col-8">
                                                <label for="form_email">Email</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">@</span>

                                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Valid email is required.">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-md-center justify-content-sm-center form-row">
                                            <div class="col-8">
                                                <label for="form_subject">Subject</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                                    <input id="form_subject" type="text" name="subject" class="form-control" placeholder="Subject" required="required" data-error="Subject is required.">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-md-center justify-content-sm-center form-row">
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <label for="form_message">Message</label>
                                                    <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="4" required="required" data-error="Please, leave a message."></textarea>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="col-8">
                                                <div class="button raised green" onclick="submitForm()">
                                                    <div class="center" fit>OK</div>
                                                    <paper-ripple fit></paper-ripple>
                                                </div>
                                                <input type="submit" class="button raised blue" value="Send message">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>            
            <script src="https://use.fontawesome.com/191778f9f6.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
                crossorigin="anonymous">
            <script src="js/HomeControler.js"></script>
            <script src="js/scripts.js"></script>
        </body>

</html>