
body{
  background-color: #eeeee9;
}

#color1{
  background-color: #009688;
  max-width: 100%;
  max-height: 100%;
  margin-top: 0px;
}

h1{
  text-align: center;
  font-size:300%;
  color: white;
  margin-bottom: 25px;
}
p{
  text-align:center;
  color: white;
  font-size: 18px;
}
.PortfolioDesc{
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.row1{
  padding-top: 20px;
  padding-bottom: 60px;
}
.styleDisplayProject1 {
  margin-top: 20px;
  text-align: left;
  color: black;
}
.styleDisplayProject2{
  margin-top: 20px;
  color: black;
  text-align: left;
}
.row{
  margin-top: 40px;
}

img{
  margin-top: 20px;
  height: 70%;
  width: 70%;
}
