body{
font-family: 'Raleway', sans-serif;
}
header {
    position: relative;
    min-height: auto;
    text-align: center;
    width: 100%;
    background-color: #4183D7;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    text-transform: uppercase;
}

header .header-content .inner h5 {
    color: #EFEFEF;
}
header .header-content .inner .additional-info a{
    color: #F5F5F5;
}
.AboutMe{
  margin-bottom: 15px;
}


header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    border: 10px solid transparent;

}
#two{
    background-color: #EFEFEE;
}
/*
Start of the about me
*/
.CollectionOfSkills div{
  display: inline-block;
  margin-right: 40px;
}

.ContentForSkills{
  visibility:hidden;
  margin-top:0px;
  margin-bottom: 0px;
  font-weight: bold;
}


.CollectionOfSkills{
  margin-top: 40px;
  text-align:center;
}

.MoveUp{
  height: 125px;
  width: 125px;
  transition: transform 1.5s cubic-bezier(0.4, 0.0, 0.2, 1);

}
.MoveUp:hover{
      -moz-transform: translate(0px, -45px);
      -ms-transform: translate(0px, -45px);
      -o-transform: translate(0px, -45px);
      -webkit-transform: translate(0px, -45px);
          transition-duration: 0.12s;
}


.MoveUp:hover ~ .ContentForSkills{
  position: relative;
  top: -40px;
  visibility:visible;
}
/*
    Circle start
*/
.scroll-down{
   position: absolute;
    width: 100%;
    top: 90%;
    
}

.scroll-down a i{
    color: white;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100% !important;
    line-height: 50px;
    padding: 0;
    letter-spacing: normal;
    font-size: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*
    Circle End
*/
/*
Start of Cards css
*/
.custom-card {
  background-color:#fafafa;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}


.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.supporting-text{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
     background-color:#fafafa;
}
.custom-card-group{
    display: flex;
    justify-content: center; /* align horizontal */
}
.media-area{
    text-align: center;
        background-color: #bdbdbd;
}


/*
Start of Cards css
*/


/*
End of the about me
*/
@media(min-width:34em) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
  header .header-content .inner .additional-info a{
        padding-right:30px;
    }

    header .header-content .inner h1 {
        font-size: 6em;
        letter-spacing: 0.11em;
    }
    header .header-content .inner h5 {
        letter-spacing: 0.10em;
        font-size: 2em;
        line-height: 90px;
    }

      header .header-content .inner p {
          margin-right: auto;
          margin-left: auto;
          max-width: 100%;
          font-size: 18px;
      }

    section {
        min-height: 600px;
        padding: 100px 0;
        transition: opacity .6s;
        transition-delay:.2s;
    }
   
    .CollectionOfSkills div {
    display: inline-block;
    margin-right: 10px;
    }

}
